*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   display: flex;
   justify-content: center;
   min-height: 100vh;
   align-items: center;
   background-image: url(https://e1.pxfuel.com/desktop-wallpaper/928/387/desktop-wallpaper-dark-night-street-lamp-shiny-light-street-lights-thumbnail.jpg);
   height: 100%;
   width: 100%;
  
  
}

.wrapper{
    width: 420px;
    background-color:black;
    color: white;
}
.wrapper h1{
    display: flex;
    font-size: 30px;
    justify-content: center;
}
.name{
    display: flex;
    justify-content: center;
  height: 30px;
  
}
.password {
    display: flex;
    justify-content: center;
  height: 30px;
  text-align: center;
}
.remember-forget{
  
    text-align: center;
    
 
}
.remember-forget a{
   margin-left: 50px;
   
 
}
.Register{
    justify-content: center;
    display: flex;
    text-align: center;
}


label{
    padding-top: 8px;    
}
input{
    margin-left: 10px;
}
button{
  
    margin-left: 200px;
    background-color: cyan;
}