.Parent{
  
    border: 2px solid crimson;
    height: 700px;
    width: 1160x;
}
.child{
    height: 150px;
    width: 150px;
    transition: 2s;
}
#one{
    background-color: aqua;
    transition-timing-function: linear;
}
#two{
    background-color: crimson;
    transition-timing-function: ease-in;
}
#three{
    background-color: green;
    transition-timing-function: ease-out;
}
#four{
    background-color: yellow;
    transition-timing-function: ease-in-out;
}
.Parent:hover .child{
    margin-left: 1000px;
}

